
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

body
{
    margin: 0px;
    /* background-image: linear-gradient(to bottom left, rgb(151, 234, 255),rgb(196, 238, 255), rgb(119, 191, 250)); */
}

* {
box-sizing: border-box;
}

.index-bg
{
    background-color: rgb(62, 181, 211);
}

.highlights
{
    background-color: rgb(247, 254, 255);
    text-align: justify; 
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: 15px solid rgba(62, 181, 211, 0.3);
    font-size: 1.3rem;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}

.our-motive
{
   border-radius: 10px; 
   padding: 30px; 
   font-size: 1.2rem; 
   background-image: linear-gradient(to bottom ,  rgb(0, 48, 94), rgb(0, 166, 196)); 
   text-align: justify; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(255, 255, 255);
   font-weight: 400;
   line-height: 2;
}

#title
{
    cursor: pointer;
    font-family: 'Fondamento', cursive;
    font-weight: bolder;
    color:rgb(255, 255, 255);
}


.topicIntro
{
    width: 90%;
    text-align: justify;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    border-radius: 5px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
    /* background-color: rgb(197, 197, 197); */
    box-shadow: 2px 2px 5px rgb(190, 190, 190), -1px -1px 3px rgb(190, 190, 190);

    color: rgb(0, 0, 0);
}

.bg-topic
{
    background-color: rgb(254, 255, 244);
}

.topics
{
    text-align: center;
    padding: 8% 5% 8% 5%;
    width: 85%;
    /* height: 100px; */
    border: 8px inset rgb(70, 39, 0);
    margin: 8%;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.topics a{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.footer
{
    
    text-align: center;
    padding: 3% 10% 2%;
    background-color: rgb(165, 183, 189);
}
.footer-sec2
{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

.developed-by
{
    font-size: 1.1rem;
    font-weight: 700;
    color: rgb(0, 84, 117);
}

.connect-with-us
{
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtopics
{
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    font-weight: 900;
    color: rgb(0, 0, 0);
    /* color: rgb(80, 0, 53); */
    text-decoration: underline;
}
section{
    width: 90%;
    box-shadow: 3px 3px 6px rgb(0, 0, 0), -2px -2px 4px rgb(190, 190, 190);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.aboutus-bg
{
    background-color: rgb(151, 201, 216);
}

.our-story
{
    background: rgb(188, 205, 209);    
    font-size: 2rem; 
    text-align: center; 
    margin:auto; 
    padding: 15px; 
    border-radius: 10%; 
    font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bolder;
    border: 5px solid rgb(2, 43, 43);
}
.container
{
    width: 50%;
    
}
.about-us-data 
{
    text-align: justify;
    background-color: rgb(210, 221, 219);
    border-radius: 10px;
    border: 2px ridge silver;
    line-height: 2;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    padding: 15px;
    color: rgb(41, 39, 39);
}

@media screen and (max-width: 550px)
{
    .highlights
    {
        background-color: rgb(247, 254, 255);
        text-align: justify; 
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        border: 15px solid rgba(62, 181, 211, 0.3);
        font-size: 1.3rem;  
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 10px;
        margin: 5px;
        padding: 15px;
    }

    .our-motive
    {
       border-radius: 10px; 
       padding: 30px; 
       font-size: 1.2rem; 
       background-image: linear-gradient(to bottom ,  rgb(0, 48, 94), rgb(0, 166, 196)); 
       text-align: justify; 
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       color: rgb(255, 255, 255);
       font-weight: 400;
       line-height: 2;
    }

.topicIntro
{
    width: 90%;
    text-align: justify;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: rgb(195, 252, 234);
    color: rgb(34, 23, 23);
}

.about-us-data 
{
    text-align: justify;
    background-color: rgb(210, 221, 219);
    border-radius: 10px;
    border: 2px ridge silver;
    line-height: 1.6;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    padding: 15px;
    color: rgb(41, 39, 39);
}

}


